html,
body{
	margin:0;
	padding:0;
}
section#promo{
    position: fixed;
    height: 35px;
    width: 100%;
    background-color: #ED7161;
    text-align: center;
   /* z-index: 500;*/
}
.containerPromo {
    font-size: 0.96em;
    /* letter-spacing: 0.03em; */
    color: white;
    line-height: 35px;
}
i.icon-position{
    position: absolute;
    font-size: 1.5em;
    right: 0.9em;
    top: 0.3em;
}
/*@media (min-width: 768px).barra-superior {
    display: block;
}
header{
	position: relative;
    height: 480px;
    padding: 0;
    overflow: hidden;
    background-color: #9ACCEF;
}
div.content{
	box-sizing: border-box;
    background-color: green;
    margin: 16% 0;
    color: white;
}
img.center-logo{
	    width: 120px;
    margin: 0 auto 10px;
}
a.text-white{
	color:white;
}*/